
.dayOfWeek{
    text-align: center;
    margin-top: 100px;
}

.mainTitle{
    font-size: 30px;
    text-align: center;
    margin:auto;
}

.mainContent{
    font-size: 25px;
    text-align: center;
}

.mainContentLeft{
    font-size: 20px;
    text-align: left;
}

.red{
    color: red;
}

.searchNotice{
    margin: 5px;
}

.addressSearchBtn{
    margin-bottom: 5px;
}

#goMapBtn{
    width: 100px;
    height: 100px;
    padding: 10px 16px;
    border-radius: 50px;
    font-size: 18px;
    line-height: 1.33;
    left:50%;
    position: absolute;
    transform:translate(-50%, 100%);

}

#mapPage{
    width:99.5%;
}
.App {
    width: 100%;
    height: 87vh;
    z-index:1;
}

#searchDiv{
    position: relative;
}


#current{
    min-width:150px;

    position: absolute;
    left: 50%;
    transform:translate(-50%);
    z-index: 2;
}

#searchBtn{
    /* white-space : nowrap;  */
    min-width: 100px;
}

.modalStyles{
    text-align:center;
    
    margin:auto;
}

#memberMenu{
    position: absolute;
    right:10px;
}

#iconStyle{
    font-size: 20px;
    transform:translate(20%, 20%);
}