
.dayOfWeek{
    text-align: center;
    margin-top: 100px;
}

.mainTitle{
    font-size: 30px;
    text-align: center;
    margin:auto;
}

.mainContent{
    font-size: 20px;
    text-align: center;
}

.red{
    color: red;
}

.searchNotice{
    margin: 5px;
}

.addressSearchBtn{
    margin-bottom: 5px;
}

#goMapBtn{
    width: 100px;
    height: 100px;
    padding: 10px 16px;
    border-radius: 50px;
    font-size: 18px;
    line-height: 1.33;
    left:50%;
    position: absolute;
    transform:translate(-50%, 100%);

}