#mainSearch{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform:translate(-50%, -100%);

}

#searchBar{
    width: 100%;
    height: 40px;
    border-radius: 15px;
}

#buyMask{
    position: absolute;
    top: 40%;
    left: 50%;
    
    transform:translate(-50%, -100%);

    font-size:30px;
    
}

#searchLocation{
    position: absolute;
    top: 60%;
    left: 50%;
    
    transform:translate(-50%, -50%);

}

.dayOfWeek{
    text-align: center;
}

.mainTitle{
    font-size: 70px;
}

.mainContent{
    font-size: 30px;
}

.red{
    color: red;
}

.searchNotice{
    margin: 5px;
}

.addressSearchBtn{
    margin-bottom: 5px;
}